/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  z-index: 996;
}
#topbar.topbar-scrolled {
  top: -40px;
}
#topbar .contact-info i {
  font-style: normal;
  color: #d9ba85;
}
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}
#topbar .languages ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #cda45e;
}
#topbar .languages ul a {
  color: white;
}
#topbar .languages ul li + li {
  padding-left: 10px;
}
#topbar .languages ul li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.5);
  content: "/";
}
#topbar .icon-color {
  color: rgb(192, 64, 0);
}
#topbar .icon-color-right-padding {
  padding-right: 5px;
}
#topbar .icon-text {
  color: rgb(192, 64, 0);
  font-family: "Patrick Hand", cursive;
}
#topbar .icon-text-right-padding {
  padding-right: 10px;
}
